html, body {
    margin: 0;
    padding: 0;
}
.container {
    width: 694px;
    margin: 0 auto;
    padding-right: 8px;
    padding-left: 8px;
}
.header {
    background-color: #263e5a;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_item {
    // не очень понимаю, почему ты решила делать тут инлайн-блок, а не флекс
    // но если ты знаешь, что делать, то хорошо, я посмотрю
    display: inline-block;
}
.nav_item a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.nav_item a:hover {
    color:  rgb(255, 226, 109);
}
