html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.container {
    width: 694px;
    margin: 0 auto;
    padding-right: 8px;
    padding-left: 8px;
}
.header {
    background-color: #263e5a;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.logo {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav_item {
    margin-left: 35px;

}
.nav_item a {
    text-decoration: none;
    font-size: 10px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.nav_item a:hover {
    color:  rgb(255, 226, 109);
}
